.product{
    width: 300px;
    height: 508px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
}
.product img{
    width: 286px;
    height: 286px;
    border-radius: 8px;
    margin: 7px 0px 0px 7px;
}
.product-info{
    padding: 14px;
}
h2{
    font-size: 21px;
    margin: 0px ;
}
h3,p{
    margin: 0;
}
button{
    border: none;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 8px 8px;
    height: 50px;
    background-color: #FFE0B3;
}
button:hover{
    background-color: orange;
}